* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(/web2/img/𝗹𝘂𝘃𝗶𝗯𝘂𝗯𝘂⸃\ Ꮺ.jpg);
    height: 200px;
}

body {
    background-color: rgb(191, 244, 244);
    color: rgb(128, 235, 251);
}

h1 {
    font-family: "Jersey 10", serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(201, 253, 255);
    text-shadow: solid 2px black;
}

a {
    font-family: "Micro 5", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(69, 69, 144);
    text-decoration: none;
}

h2 {
    font-family: "Jersey 10", serif;
    font-weight: 600;
    font-style: normal;
}

header {
    background-color: rgb(58, 187, 230);
}