* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(/web2/img/𝗹𝘂𝘃𝗶𝗯𝘂𝗯𝘂⸃\ Ꮺ.jpg);
    height: 200px;
    border-radius: 20px;
    border: 6px solid #0077e0;
}

body {
    background-color: rgb(191, 244, 244);
    color: rgb(128, 235, 251);
}

main {
    margin: 5px;
    background-color: #8dcaff;
    border-radius: 20px;
    border: 6px solid #0077e0;
}

.button {
    background-color: rgb(135, 177, 255);
    border: solid 3px rgb(89, 153, 216);
    border-radius: 2px;
    color: rgb(17, 76, 185);
    font-family: "Micro 5", serif;
    font-weight: 400;
    font-style: normal;
    align-content: center;
}

h1 {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
    color: rgb(201, 253, 255);
    text-shadow: solid 2px black;
}

a {
    font-family: "Micro 5", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(69, 69, 144);
    text-decoration: none;
    font-size: 200%;
    text-align: center;
}

h2 {
    font-family: "Jersey 10", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 200%;
    color: #005cad;
    padding: 10px;
    border-bottom: 4px solid #0077e0;
}

.box{
    text-align: center;
    border-radius: 10px;
    background-color: rgb(198, 231, 255);
    padding: 2px;
    margin: 2px;
}