*{
    margin: 5px;
    padding: 0px;
}
header {
    background-color: rgb(5, 65, 102);
    margin-left: 40px;
    margin-right: 40px;
    border: 5px dashed rgb(215, 7, 73);
}

main {
    place-items: center;
}

h1{
    font-family: "Rubik Iso", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    text-align: center;
    color: rgb(211, 48, 75);
    text-shadow: 3px 3px 6px #f8fcffe2;
}
h2{
  font-family: "Rubik Lines", system-ui;
  font-weight: 400;
  font-style: normal;  
}

h3{
   font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal; 
}

#grille {
    width: 50vmin;
    height: 50vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 60px;
}
#grille .case{
    border: palevioletred solid 1px;
    background-color: rgb(253, 156, 188);
    display: grid;
    place-items: center;
    background-size: contain;
}

#grille .case:hover{
    border: palevioletred solid 1px;
    background-color: rgb(222, 64, 90);
    display: grid;
    place-items: center;
}

#message img{
    max-width: 120px;
}

.spiral {
    position: fixed;
    left: 0;
    display: block;
    height: 150px;
    width: auto;
}

.star {
    position: fixed;
    right: 0;
    display: block;
    height: 150px;
    width: auto;
}

#replay{
    background-color: rgb(5, 65, 102);

    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;

    border: 2px dashed rgb(215, 7, 73);
    color: rgb(211, 48, 75);
}

.button{
    background-color: rgb(21, 105, 158);

    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;

    border: 2px dashed rgb(215, 7, 73);
    color: rgb(211, 48, 75);
}

body{
    background-image: url(bg.png);
    background-color: #063650;
    background-size: contain;
    bottom: 0;
}

footer {
    background-color: rgb(5, 65, 102);
    margin-left: 40px;
    margin-right: 40px;
    border: 5px dashed rgb(215, 7, 73);
}


@media screen and (min-width: 1020px) {
    h1 {
    font-size: 400%;
    }

    body {
        background-size: cover;
    }

    .spiral {
        position: fixed;
        left: 0;
        display: block;
        height: 50%;
        width: auto;
    }

    .star {
        position: fixed;
        right: 0;
        display: block;
        height: 50%;
        width: auto;
    }
}