body{
    background-color: #b5c5ff;
    color: #4f67bd;
}

.button {
    background-color: rgb(188, 255, 255);
    border: solid 1px rgb(140, 221, 251);
    border-radius: 1rem;
    color: rgb(59, 143, 158);
}

#lexy {
    padding: 1rem;
}

#lexy a{
    border: solid 2px greenyellow;
    border-radius: 0.5rem;
    overflow: hidden;
}

#lexy figure{
    position: relative;
}

#lexy .after{
    opacity: 0;
    top: 1.5rem;
    position: relative;
    transition: 1.5s;
}

#lexy img{
    width: 20%;
    object-fit: cover;
    object-position: center,center;
    position: absolute;
}

#flowers {
    display: inline-block;
    justify-content: center;
    transform: translateY(200px);
    padding: 1.50rem 2rem;
}

#flowers img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center center;
}

.box{
    position: relative;
    perspective: 700px;
}

.box article{
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: transform 0.5s;
    transform-origin: center;
}

.front, .back{
    width: 300px;
    height: 200px;
    position: absolute;
    backface-visibility: visible;
    user-select: none;
}

.front{
    position: absolute;
    background: #5f7be2;
    transform: rotateX(0deg) translate3d(0px, -100px, 100px);
}

.back{
    position: absolute;
    background: #4f67bd;
    transform: rotateX(-90deg) translate3d(0px, 0px, 0px);
}

.map{
    background-color: blanchedalmond;
    border: solid 2px blanchedalmond;
    width: 300px;
    height: 300px;
}

.magnifing-glass{
    background-color: transparent;
    border: solid 2px #000 ;
    border-radius: 1rem;
    width: 40%;
    height: 40%;
    transition: transform 1s ease-in;
}

.st0{fill:#B3B3B3;}

/*animations & transitions*/

.button:hover{
    background-color: rgb(106, 140, 255);
    border: solid 1px rgb(45, 94, 255);
    color: rgb(200, 214, 255);

    transition: color 1s;
}

#lexy a:hover section{
    transform: translateY(0);
}

#lexy a:hover .after{
    top: 0;
    opacity: 1;
}

.box:hover article{
    transform: rotateX(90deg);
    transform-style: translate (-50%, -50%) rotate(90deg);
}

.map:hover .magnifing-glass{
    animation: left-to-right 1s ease-in forwards infinite alternate;
}

@keyframes left-to-right{
    0%{
        transform: translateX(0);
    }

    33%{
        transform: translateY(100%);
    }

    66%{
        transform: translateX(100%) translateY(100%);
    }

    100%{
        transform: translateX(100%);
    }
}

#bottomchain{
    animation: wavemaker 17s ease-in-out infinite alternate-reverse;
}

#topchain{
    animation: wavemaker 13s ease-in-out infinite alternate;
}

footer{
    width: 150vw;
    overflow: hidden;
}

@keyframes wavemaker {
    0% {
        transform: translateX(-4vw);
    }
    100% {
        transform: translateX(-20vw);
    }
}