header {
    background-image: url(/web2/project1/img/spa-header.jpeg);
    height: 200px;
}

h1 {
    font-family: "Spicy Rice", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 200%;
}

body{
    background-color: rgb(164, 249, 151);
}

h2 {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

.cards {
    display: grid;
    align-content: center;
}

li {
    border: solid 2px palevioletred;
    background-color: pink;
    font-family: "Spicy Rice", serif;
    font-weight: 100;
    font-style: normal;
}