* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

header {
    background-image: url(/web2/project1/img/spa-header.jpeg);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    border: 6px solid #ffc6da;
}

.svg {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

#bottomchain{
    animation: wavemaker 13s ease-in-out infinite alternate-reverse;
}

#topchain{
    animation: wavemaker 9s ease-in-out infinite alternate;
}

@keyframes wavemaker {
    0% {
        transform: translateX(-4vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

a {
    color: black;
    font-family: "Spicy Rice", serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    align-content: last baseline;
}

.button {
    background-color: rgb(135, 177, 255);
    border: solid 1px rgb(89, 153, 216);
    border-radius: 2px;
    color: rgb(17, 76, 185);
    font-family: "Spicy Rice", serif;
    font-weight: 100;
    font-style: normal;
    align-content: center;
}

h1 {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
    box-shadow: 5px rgb(21, 73, 26);
    box-sizing: content-box;
    border-radius: 2px;
}

body{
    background-color: rgb(164, 249, 151);
    background-image: url(/web2/project1/img/bg_spa.jpg);
}

h2 {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #d3ffc6;
}

h3 {
    font-family: "Spicy Rice", serif;
    font-weight: 500;
    font-style: normal;
}

.cards {
    display: grid;
    align-content: center;
}

li {
    display: grid;
    border: solid 2px palevioletred;
    background-color: pink;
    padding-bottom: 2rem;
}

#shop {
    position: relative;
    border: dashed 5px palevioletred;
    border-radius: 2rem;

}

.renaissance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(252, 140, 185);
    gap: 20px;
    height: auto;
}

#search {
    position: relative;
    border: dashed 5px rgb(255, 142, 160);
    border-radius: 2rem;
}

.shopping {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(255, 168, 202);
    gap: 20px;
    height: auto;
}

.youtube {
    max-width: 100%;
    height: auto;
}

#how {
    position: relative;
    border: dashed 5px palevioletred;
    border-radius: 2rem;
}

.advice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(252, 140, 185);
    gap: 20px;
    height: auto;
}

.info {
    padding: 10px;
    top: 0;
    height: auto;
    align-content: center;
    margin: 10px auto;
    padding: 20px 40px;
}

.info img {
    max-width: 100%;
    height: auto;
}

.capyskill {
    border-radius: 20px;
    border: 6px solid #ffc6da;
    background-image: url(/web2/project1/img/bg_capyspa.jpg);
}

.button:hover{
    background-color: rgb(106, 140, 255);
    border: solid 1px rgb(45, 94, 255);
    color: rgb(200, 214, 255);

    transition: color 1s;
}

li:hover {
    background-image: url(/web2/project1/img/hearts.jpg);
    
}

#shop:hover {
    background-image: url(/web2/project1/img/bg_dev.jpeg);
}

#search:hover {
    background-image: url(/web2/project1/img/bg_dev.jpeg);
}

#how:hover {
    background-image: url(/web2/project1/img/bg_dev.jpeg);
}