html {
    scroll-behavior: smooth;
}

body {
    background-color: lightblue;
    color: darkblue;
}

h1 {
    margin-top: 5px;
    padding: 10px;
    color: rgb(123, 145, 246);
    font: size 90px;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 4px 3px 1px rgb(14, 38, 92);
}

button {
    background-color: rgb(106, 175, 255);
    padding: 15px 10px;
    border-radius: 10px;
    border: 2px solid rgb(36, 76, 210);
    box-shadow: 2px 4px 10px #00000052;
    font-weight: bold;
    color: rgb(54, 117, 211);
}

button:hover {
    background-color: rgb(2, 101, 163);
    color: rgb(158, 218, 255);
}

.grid {
    display: grid;
    grid-template-columns: auto-fit;
}

.bday {
    border-color: blueviolet;
    background-color: gray;
}