* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

header {
    background-image: url(/web1main/web1/css/_\ \(3\).jpeg);
    border-radius: 20px;
    border: 6px solid #fd4c92;
    height: 100%;
}

body{
    background-image: url(/web1main/web1/css/_\ \(2\).jpeg);
    background-color: pink;
}

main {
    background-color: rgb(255, 240, 245);
    border-radius: 20px;
    border: 6px solid #fd4c92;
}

a:hover {
    color: deeppink;
    rotate: 30deg;
}

a {
    color: rgb(139, 0, 25);
    font-family: "Micro 5", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 200%;
    text-align: center;
}

.headericon{
    height: 21px;
    width: 21px;
    align-items: center;
    text-align: center;
    padding: 1px;
    margin-left: 2px;
    font-size: 15px;
    border: 2px solid #810314;
}

.bday{
    grid-column: 1;
    grid-row: 4;
    background-color: #ff88ae;
    border: 4px solid #e7007b;
    width: 50%;
}

.bdaytext{
    padding: 20px;
}

.buttonbdays{
    width: 100%;
    font-size: 30px;
    font-family: "Micro 5", sans-serif;
    background-size: 100%, 0;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 200ms;
    border-bottom: 3px inset #e7007b;
    border-left: 3px inset #e7007b;
    border-right: 3px inset #e7007b;
    border-top: 3px inset #e7007b;
    color: var(--primary-color);
    cursor: pointer;
    display: inline-block;
}

.buttonbdays:hover, .buttonbdays:focus{
    color: #ff79a4;
    background-size: 0, 100%;
}

.back-box {
    background-color: rgb(255, 216, 218);
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 20px;
}

.web-box {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(251, 106, 147);
}

.et-box {
    text-align: center;
    border-radius: 10px;
    background-color: lightskyblue;
}

.pc-box {
    text-align: center;
    border-radius: 10px;
    background-color: mediumpurple;
}

.web2-box {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(169, 249, 249);
}

.portfolio {
    text-align: center;
    border-radius: 10px;
    background-color: #ff6599;
}

.capython {
    text-align: center;
    border-radius: 10px;
    background-color: #F08A4B;
}

.wordpress {
    text-align: center;
    border-radius: 10px;
    background-color: #fffca3;
}

.thrilltalk {
    text-align: center;
    border-radius: 10px;
    background-color: #0a3e6c;
}

h1 {
    color: rgb(44, 0, 9);
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  
h2 {
    color: #810314;
    font-family: "Pixelify Sans", sans-serif;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 4px solid #e00052;
}

h3 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ff45a5;
}

.movie {
    align-content: center;
    background-color: #ff79ba;
    width: 50px;
    border-radius: 2px;
    border: 3px #b00041 solid;
}