h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 100px;
    color: whitesmoke;
}

h2{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h3{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

p{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

header {
    background-color: rgb(213, 221, 229);
    margin: 5px;
}

header img{
    max-width: 100%;
    height: auto;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5%;
    background-color: #192574;
    opacity: 90%;
    
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

a#nav {
    color: aliceblue;
    text-decoration: none;
    
}

a#nav:hover {
    color: #ffffff;
    text-decoration: underline;
}

div.scroll-container{
    background-color: rgb(186, 216, 246);
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px;
}

div.scroll-container img {
    max-width: 20%;
    height: auto;
    padding: 5px;
}